body {
  margin: auto;
  margin-top: 122px;
  display: flex;
  flex-direction: column;
  font-family: Times New Roman, Times, serif;
  text-align: center;
  width: 45%;
  background-image: linear-gradient(rgb(136, 57, 136), white);
  background-attachment: fixed;
}

body * {
  visibility: hidden;
}

body:hover * {
  visibility: visible;
}

h1 {
  margin-bottom: 1px;
}

h3 {
  color: rgb(27, 27, 47);
  font-size: x-large;
  text-decoration: underline;
}

p {
  font-size: large;
}

button {
  background-color: rgb(219, 189, 247);
  color: rgb(0, 0, 0);
  width: 100%;
  cursor: crosshair;
  transition-delay: 10ms;
}

button:hover {
  transform: scale(1.5);
  background-color: rgb(215, 253, 253);
}

ul {
  display: contents;
  list-style: none;
}

ul li:hover {
  transform: scale(1.5);
  background-color: rgb(215, 253, 253);
  cursor: pointer;
}
